<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Final Exam Project</title>
</head>
<body>
  <h1>Final Exam Project</h1>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/myresearch">My Research</a></li>
  </ul>
  <p>ชื่อ: <%= name %></p>
  <p>รหัส: <%= studentId %></p>
  <p>GitHub: <a href="<%= github %>"><%= github %></a></p>
</body>
</html>
