<!-- views/myresearch.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>My Research - Final Exam Project</title>
</head>
<body>
  <h1>My Research</h1>
  <p>หัวข้อวิจัย: ระบบตรวจสอบความตรงกันของรายงานกับเอกสารอ้างอิงด้วยการวิเคราะห์ข้อความและตัวเลขโดยใช้ NLP</p>
  <ul>
    <li>บทคัดย่อ: ในกระบวนการจัดทำรายงานสำคัญขององค์กรต่างๆ มักมีการอ้างอิงข้อมูลจากเอกสารอื่นๆที่ผ่านการรับรองความถูกต้องแล้วเพื่อให้ข้อมูลมีความถูกต้องและน่าเชื่อถือ อย่างไรก็ตาม ก่อนที่รายงานดังกล่าวจะถูกนำไปเผยแพร่ไม่ว่าจะเป็นภายในหรือภายนอกองค์กร โดยเฉพาะอย่างยิ่งรายงานที่ต้องนำไปเผยแพร่ต่อสาธารณะชนหรือส่งมอบให้กับคู่ค้าทางธุรกิจ รายงานนั้นจำเป็นต้องผ่านขั้นตอนการตรวจสอบความถูกต้องและอนุมัติก่อนเสมอ ซึ่งขั้นตอนดังกล่าวต้องใช้เวลา สมาธิและ ความละเอียดรอบคอบของผู้ตรวจ ภายใต้สภาพแวดล้อมที่เอื้ออำนวย จึงมีโอกาสที่จะผิดพลาดได้ตามปัจจัยต่างๆที่เปลี่ยนแปลงไปในแต่ละวัน ไม่ว่าจะเป็นจากตัวผู้ตรวจเองหรือจากสภาพแวดล้อม งานวิจัยนี้มีวัตถุประสงค์เพื่อพัฒนาระบบอัตโนมัติในการตรวจสอบความตรงกันของรายงานที่จัดทำขึ้นกับเอกสารที่นำมาใช้อ้างอิงโดยการวิเคราะห์ความคล้ายคลึงของข้อความและเปรียบเทียบค่าตัวเลขระหว่างเอกสารสองชุดโดยใช้เทคนิคการประมวลผลภาษาธรรมชาติ (Natural Language Processing หรือ NLP) และการประมวลผลตัวเลขเบื้องต้น ระบบสามารถแยกประโยคและค่าตัวเลขออกจากเอกสารทั้งสองชุด และทำการจับคู่ประโยคที่มีความใกล้เคียงกันด้วยวิธีการวัดความคล้ายคลึงของข้อความ รวมถึงตรวจสอบค่าตัวเลขที่อาจมีการบิดเบือนหรือแตกต่างจากต้นฉบับ โดยงานวิจัยนี้จะช่วยให้บุคคลากรขององค์กรที่มีหน้าที่ตรวจสอบและ/หรืออนุมัติรายงานนั้นๆสามารถประหยัดเวลาและลดโอกาสในการที่เกิดความผิดพลาดของข้อมูลในรายงานก่อนนำไปใช้งาน</li>
  </ul>
  <h2>รายการอ้างอิง (Reference)</h2>
  <ol>
    <li>IEEE, <a href="/reference/example1.pdf" target="_blank">เปิดไฟล์ PDF</a></li>
    <!-- จะเพิ่ม/แก้ไข/ลบ รายการอ้างอิงภายหลัง -->
  </ol>
  <p><a href="/">กลับหน้าแรก</a></p>
</body>
</html>

